body {

    font-family: Arial;
}

.container {

    
    display: grid;
    grid-template-columns: repeat(7,1fr) ; 
    /*al nuevo grid le diremos que ocupe 3 columnas y que se expanda al espacio total*/
    grid-template-rows: repeat(2,1fr) ; 
    /*al nuevo grid le diremos que ocupe 3 filas y que se expanda al espacio total*/

   grid-gap: 5px;  

   /* lograr une spacio entre columnas */

    height: 50vh;

   
}

/* .header {
grid-area: header;
}

.left{
grid-area: left;
}

.contenido{
grid-area: contenido;
}

.footer{
grid-area: footer;
} */


.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
   /*  margin-right: 10px;
    margin-bottom: 10px; */
}

  .item:nth-of-type(1){
    background: burlywood;
    overflow: auto;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}
 

.item:nth-of-type(2){
    background: burlywood;
    grid-column: 4 / span 2; /* la propiedad de -1 nos ayuda a que ocupe todo el espcio */ 
    /* grid-column: 1 / span 2; */
    grid-row: 1 / span 2;
}


.item:nth-of-type(3){
    background: burlywood;
    grid-column: 6 / span 2; 
} 

/* .item:nth-of-type(3){
    background: burlywood;
    grid-column: 1/ -1; 
}
 */






/*
.item .item {

background: yellow;
} */
