body {

    font-family: Arial;
}

.container {

    
    display: grid;
    grid-gap: 5px;  
    height: 100vh;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(4,100px);
    /* justify-items: center; */
    /* alineado de forma vertical
    y sus propiedades son: start, end, center, stretch  */
  /*   align-items: center; */
    /* alineado de izquierda a derecha 
    start, end, center o stretch*/

    justify-content: center;
    align-content: center;


  
   
}



.item {
    background: lightblue;
    padding: 10px;
    border: 1px solid red;
   
}

.item:nth-of-type(5){
   /*  align-self: star;
    justify-self: start; */


} 

 




