body {

    font-family: Arial;
}

.container {

    /*para poder agregar un grid es necesario especificar 
    un flex de grid */
    display: grid;
    /* grid-template-columns: 25% 200px 25%;
    grid-template-rows: 300px 150px;
 */
    /*grid-template: filas/columnas; */
    /* grid-template: 300px 150px 100px / 50% 200px 100px;
    ahora usaremos fracciones
    */
    /* grid-template: 300px 150px 100px / 1fr 1fr 1fr; */

    /* grid-template: 300px 150px 100px / repeat(4, minmax(200px, 1fr)); */
    
    
 /*    grid-template: repeat(3, 1fr) / repeat(2, 1fr);  */

    grid-template: 100px 1fr 150px / 200px 1fr;
    /*en este caso usaremos 3 filas de 33.33 cada una y 4 columnas del mismo tamaño 33.33
    esto lo haremos para que ocupe todo el espacio de nuestro navegador  */ 

/*
    grid-column-gap: 30px;
    grid-row-gap: 30px; */
    grid-gap: 10px;
    height: 100vh;

    grid-template-areas:
    
    "header header"
    "left contenido"
    "footer footer";
}

.header {
grid-area: header;
}

.left{
grid-area: left;
}

.contenido{
grid-area: contenido;
}

.footer{
grid-area: footer;
}


.item {
    background: lightblue;
    border: 1px solid red;
    padding: 10px;
   /*  margin-right: 10px;
    margin-bottom: 10px; */
}

/* .item:nth-of-type(4){
    background: burlywood;
    overflow: auto;
    display: grid;
    grid-template: 50px 50px 50px / 100px 100px 100px ;
} */
/* 
.item .item {

background: yellow;
} */
